@model HouseViewModel
@{
    ViewData["Title"] = "123Huurhuizen";
}



<div class="text-center">
    <div class="container">
        <!-- Add margin-bottom to the row -->
        <a asp-controller="Home" asp-action="AddHouse" class="btn btn-primary plus-btn"><i class="fas fa-plus"></i></a>
        <div class="row mb-4">
            @foreach (var house in Model.Houses )       {
                <div class="col-md-3">
                    <div class="card bg-light">
                        <img src="@house.HousePhotos.FirstOrDefault()?.PhotoLink" class="card-img-top" alt="House Photo" style="max-width: 300px; max-height: 200px;">
                        <div class="card-body">
                            <h4 class="card-title text-center">@house.RentPerMonth € per maand</h4>
                            <h5 class="card-title text-center">Informatie</h5>
                            <h6 class="card-text">Beschikbaar vanaf: @house.AvailableAt</h6>
                            <p class="card-text font-weight-bold">@house.SortRenter</p>
                            <hr />
                            @if (house.SellerId == ViewBag.SellerId)
                            {
                                <!-- Bewerkknop toevoegen -->
                                <a href="#" class="btn btn-secondary position-absolute top-0 start-0 m-2 editButton" data-house-id="@house.HouseId"><i class="fas fa-pencil-alt"></i></a>
                                <button type="button" class="btn btn-danger position-absolute top-0 end-0 m-2 deleteButton" data-house-id="@house.HouseId"><i class="fas fa-trash"></i></button>
                                <form class="editForm" style="display: none;">
                                    <input type="hidden" name="houseId" value="@house.HouseId" />
                                    <input type="text" name="rentPerMonth" value="@house.RentPerMonth" placeholder="Nieuwe huurprijs" />
                                    <input type="date" name="availableAt" value="@house.AvailableAt" placeholder="Nieuwe beschikbaarheid" />
                                    <!-- Opslaan-knop toevoegen -->
                                    <br />
                                    <button type="button" class="btn custom-btn btn-block saveButton">Opslaan</button>
                                </form>
                                <button type="button" class="btn custom-btn btn-block EigenhuisButton" >Eigen huis</button>
                            }
                            else
                            {
                                <a href="#" class="btn custom-btn btn-block">Meer informatie</a>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.css">
<script>
    $(document).ready(function () {
        $(".deleteButton").on("click", function () {
            var $this = $(this);
            console.log("knopje gedrukt");
            var houseId = $this.data("house-id"); // Haal het huis-ID op uit de knop
            Swal.fire({
                icon: 'warning',
                title: 'Weet je zeker dat je dit huis wilt verwijderen?',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Ja, verwijderen',
                cancelButtonText: 'Annuleren'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Als de gebruiker op Ja klikt, huis verwijderen via AJAX
                    $.ajax({
                        url: "/Home/DeleteHouse",
                        type: "POST",
                        data: { houseId: houseId },
                        success: function (response) {
                            if (response.success) {
                                // Succesmelding weergeven
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Succesvol verwijderd',
                                    showConfirmButton: false,
                                    timer: 1500
                                });

                                // Verwijder het huis uit de DOM
                                $this.closest(".col-md-3").remove();
                            } else {
                                // Foutmelding weergeven
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Er ging iets mis',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        },
                        error: function () {
                            // Foutmelding weergeven bij AJAX-fout
                            Swal.fire({
                                icon: 'error',
                                title: 'Er is een fout opgetreden bij het verwijderen',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
            });
        });
    });
    $(document).ready(function () {
        $(".editButton").on("click", function (event) {
            event.preventDefault(); // Prevent the default action

            var $this = $(this);
            var $card = $this.closest(".card");
            var $editForm = $card.find(".editForm");
            var $eigenHuisButton = $card.find(".EigenhuisButton");

            // Hide all other edit forms
            $(".editForm").not($editForm).hide();

            // Hide all other EigenhuisButtons within the same card
            $card.find(".EigenhuisButton").not($eigenHuisButton).hide();

            // Toggle this edit form
            $editForm.toggle();
            // Toggle this EigenhuisButton
            $eigenHuisButton.toggle();
        });

        $(".saveButton").on("click", function () {
            var $this = $(this);
            var $editForm = $this.closest(".editForm");
            var houseId = $editForm.find("input[name='houseId']").val();
            var rentPerMonth = $editForm.find("input[name='rentPerMonth']").val();
            var availableAt = $editForm.find("input[name='availableAt']").val();

            // AJAX request to update data
            $.ajax({
                url: "/Home/UpdateHouse",
                type: "POST",
                data: {
                    houseId: houseId,
                    rentPerMonth: rentPerMonth,
                    availableAt: availableAt
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Succesvol aangepast',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500); // Wacht 1500 milliseconden (1,5 seconde) voordat de pagina wordt herladen
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Er ging iets mis bij het aanpassen',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Er is een onbekende fout opgetreden',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        });
    });



</script>



